<style type="text/css">
.custom-link {
  pointer:cursor;
}
.custom-link:hover{
  color: #00d1b2;
}
</style>
<!-- Hero footer -->
<footer class="footer" style="background-color: #f5f5f5;">
    <div class="content has-text-centered">
      {% load static %}        
      <img src="{% static 'images/herbaLook_grey.png' %}" style="max-height:30px">      
      <p>For any enquiries, please contact <a class="custom-link" href="https://www.linkedin.com/in/sophiadouglas">Sophia Chulif <i class="far fa-smile"></i></a></p>
    </div>
</footer>